<html>

<head>
   <!-- 中文乱码 -->
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <!-- 参考css -->
   <link rel="stylesheet" type="text/css" href="css/index.css">
   <link href="./static/css/app.0eb264d4e7367b563ece694ff8f658be.css" rel="stylesheet">
   <!-- <script type="text/javascript" charset="utf-8" async="" src="./static/js/1.0de97fe393c66b61eaae.js"></script> -->
   <style>
      body {
         margin: 0;
      }

      /* elementui menu */
      .el-menu-vertical-demo:not(.el-menu--collapse) {
         width: 200px;
         min-height: 400px;
      }
   </style>
   <!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" /> -->
   <!-- <link rel="stylesheet" type="text/css" href="css/default.css"> -->
   <!-- <script src="//unpkg.com/3d-force-graph"></script> -->
   <script src="../../dist/3d-force-graph.js"></script>
   <!--vue elementui-->
   <!-- <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script> -->
   <script src="//unpkg.com/vue/dist/vue.min.js"></script>
   <script src="//unpkg.com/element-ui@2.9.1/lib/index.js"></script>
   <link rel="stylesheet" href="https://unpkg.com/element-ui@2.9.1/lib/theme-chalk/index.css" type="text/css" />
   <!-- 自定义js -->
   <script src="./static/js/config.js"></script>
</head>

<body>
   <div id="app">
      <div data-v-72781316 class="index-container">
         <!-- 标题区 -->
         <div data-v-72781316 class="title-container">
            <div data-v-72781316 class="logo">
               <img data-v-72781316 src="./static/image/logo1_t.png">
            </div>
            <div data-v-72781316 id="search">
               <el-input v-model="searchText" placeholder="搜索网络节点" @keyup.enter.native="searchNode" size="small"
                  clearable>
               </el-input>
            </div>
         </div>
         <div data-v-72781316 class="visulization-container">
            <!-- 左侧菜单区 -->
            <div data-v-72781316 class="src-container">
               <ul data-v-72781316="">
                  <li data-v-72781316="" v-for="sys in systems" :class="{active:sys==activeSystem}" @click="systemMenuClick(sys)">
                     {{sys.name}}
                  </li>
               </ul>
            </div>
            <!-- 下部菜单区 -->
            <div data-v-72781316 class="middle-container">
               <div data-v-72781316 class="main-visualization">
                  <div id="starrysky" class="htmleaf-container">
                     <div id="3d-graph" class="htmleaf-container"></div>
                     <!-- 信息框 -->
                     <div v-show="infoBox.show" class="infobox">
                        <span class="close" onclick="vm.unHighlight()"></span>
                        <span>标题信息</span>
                        <el-divider></el-divider>
                        <span>{{infoBox.content}}</span>
                     </div>
                  </div>
               </div>
               <ul data-v-72781316 class="menu-container">
                  <li data-v-72781316="" v-for="flt in filters" :class="{active:flt==activeFilter}" :style="{background:flt.bgColor}"
                     @click="filterMenuClick(flt)">
                     {{flt.name}}
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- vue -->
   <script type="text/javascript">
      let highlightNodes = [];// 高亮点
      let highlightLinks = [];// 高亮边
      let highlightColor = '#ffffff';// 高亮色
      let ignoreColor = '#111111';// 忽略色
      var vm = new Vue({
         el: '#app',
         data: {
            systems: g_Systems,// 左侧菜单
            activeSystem: g_Systems[0],// 左侧菜单活动项
            filters: g_Filters,// 底部菜单
            activeFilter: null,// 底部菜单活动项
            graph: null,// 3D图形
            searchText: '',// 查询字符串
            infoBox: { show: false, content: "hello" },// 是否显示信息框
         },
         mounted: function () {
            let elem = document.getElementById('3d-graph');
            this.graph = ForceGraph3D()(elem)
               .jsonUrl(this.activeSystem.value)
               .enableNodeDrag(false)
               // .nodeLabel(node => "<div><table border=1><tr><td>hello</td></tr><tr><td>world</td></tr></table></div>")
               .nodeLabel(node => `<div>${node.user}: ${node.description}</div>`)
               .linkWidth(link => highlightLinks.indexOf(link) !== -1 ? 2 : 1)
               .linkDirectionalParticles(link => highlightLinks.indexOf(link) !== -1 ? 2 : 0)
               .linkDirectionalParticleWidth(2)
               .nodeColor(node => {
                  // 高亮
                  if (highlightNodes.indexOf(node) !== -1) {
                     return highlightColor;
                  } else {
                     if (this.activeFilter != null) {
                        // 非当前类型
                        if (this.activeFilter.value != node.type) {
                           return ignoreColor;
                        }
                     }
                  }
                  let flt = this.filters.find(i => i.value == node.type);
                  return flt ? flt.bgColor : null;
               })
               .onNodeClick(node => {
                  if (this.isNodeIgnore(node)) return;
                  this.focusNode(node);
                  this.highlightNode(node);
               })
         },
         methods: {
            // 单击左侧菜单
            systemMenuClick: function (sys) {
               if (this.activeSystem == sys) return;
               this.activeSystem = sys;
               if (sys.value) {
                  this.graph.jsonUrl(sys.value);
                  this.activeFilter = null;
               }
            },
            // 单击底部菜单
            filterMenuClick: function (val) {
               this.activeFilter = this.activeFilter == val ? null : val;
               this.updateGeometries();
            },
            // 更新3D模型
            updateGeometries: function () {
               this.graph.nodeRelSize(4); // trigger update of 3d objects in scene
            },
            // 点是否忽略
            isNodeIgnore: function (node) {
               return this.activeFilter && this.activeFilter.value != node.type;
            },
            // 查询网络节点
            searchNode: function () {
               let node = this.graph.graphData().nodes.find(node => {
                  if (this.isNodeIgnore(node)) return false;
                  return node.user.indexOf(this.searchText) >= 0
               });
               if (node) {
                  this.focusNode(node);
                  this.highlightNode(node);
               } else {
                  this.$message({
                     message: '没有找到相关节点！',
                     type: 'warning',
                     showClose: true
                  });
               }
            },
            // 聚焦节点
            focusNode: function (node) {
               const distance = 100;
               const distRatio = 1 + distance / Math.hypot(node.x, node.y, node.z);
               this.graph.cameraPosition(
                  { x: node.x * distRatio, y: node.y * distRatio, z: node.z * distRatio }, // new position
                  node, // lookAt ({ x, y, z })
                  3000  // ms transition duration
               );
            },
            // 高亮节点
            highlightNode: function (node) {
               this.unHighlight();
               if (node.link != null) {
                  highlightLinks.push(node.link);
               }
               if (node.nodes != null) {
                  node.nodes.forEach(n => {
                     highlightLinks.push(n.link);
                  });
               }
               this.updateGeometries();
               // 显示节点信息
               this.infoBox.content = `${node.user}: ${node.description}`;
               this.infoBox.show = true;
            },
            // 清空高亮
            unHighlight: function () {
               highlightNodes.length = 0;
               highlightLinks.length = 0;
               this.updateGeometries();
               this.infoBox.show = false;
            }
         }
      });
   </script>
   <!-- 星空背景 -->
   <script src="dist/jquery-2.1.0.min.js"></script>
   <script src="dist/jquery-starfield.js"></script>
   <script>
      $('#starrysky').starfield({
         starDensity: 0.5,
         mouseScale: 0.1,
         seedMovement: true
      });
   </script>
   <!-- 星空数据 -->
   <script>
      // function openjson(n) {
      //    // if (n.length > 0) {
      //    //    Graph.nodeColorByType({ 0: '#ff0000', 1: '#00ff00', 2: '#0000ff', 3: 'ffff00', 4: 'ff00ff' });
      //    //    return;
      //    // }
      //    if (n.length == 0) {
      //       Graph.jsonUrl(`../datasets/blocks${n}.json`);
      //    } else {
      //       Graph.nodeColor(node => {
      //          var color = mapColors[node.type];
      //          return color ? color : '#000000';
      //       })
      //    }
      // }
      // let highlightColor = '#ffffff';
      // let ignoreColor = '#111111';
      // let mapColors = {
      //    0: '#ff0000', 1: '#00ff00', 2: '#0000ff', 3: '#ffff00', 4: '#ff00ff'
      // }
      // let currentType = null;
      // let highlightNodes = [];
      // let highlightLinks = [];
      // const elem = document.getElementById('3d-graph');
      // const Graph = ForceGraph3D()(elem)
      //    .jsonUrl('../datasets/blocks.json')
      //    .enableNodeDrag(false)
      //    //.nodeColorByType({ 0: '#ff0000', 1: '#00ff00', 2: '#0000ff', 3: 'ffff00', 4: 'ff00ff' })
      //    // .nodeAutoColorBy('user')
      //    .nodeLabel(node => `${node.user}: ${node.description}`)
      //    .linkWidth(link => highlightLinks.indexOf(link) !== -1 ? 4 : 1)
      //    .linkDirectionalParticles(link => highlightLinks.indexOf(link) !== -1 ? 4 : 0)
      //    .linkDirectionalParticleWidth(4)
      //    .nodeColor(node => {
      //       // 高亮
      //       if (highlightNodes.indexOf(node) !== -1) {
      //          return highlightColor;
      //       } else {
      //          if (currentType != null) {
      //             // 非当前类型
      //             if (currentType != node.type) {
      //                return ignoreColor;
      //             }
      //          }
      //       }
      //       let flt = g_Filters.find(i => i.value == node.type);
      //       return flt ? flt.bgColor : null;
      //       // return mapColors[node.type];
      //    })
      //    .onNodeHover(node => {
      //       if (highlightNodes.indexOf(node) !== -1) return;// no state change
      //       // 还原
      //       reset_nodes();
      //       highlightLinks = [];
      //       // 高亮
      //       var i = node;
      //       while (i) {
      //          highlightNodes.push(i);
      //          if (!i.link) break;
      //          highlightLinks.push(i.link);
      //          if (!i.link.target || i === i.link.target) break;
      //          i = i.link.target;
      //       }
      //       highlight_nodes();
      //       updateGeometries();
      //    })
      //    .onLinkHover(link => {
      //       if (highlightLinks.indexOf(link) !== -1) return;
      //       highlightLinks = link ? [link] : [];// 边
      //       reset_nodes();
      //       highlightNodes = link ? [link.source, link.target] : [];// 首尾点
      //       highlight_nodes();
      //       updateGeometries();
      //    })
      //    // 选中聚焦
      //    .onNodeClick(node => {
      //       const distance = 50;
      //       const distRatio = 1 + distance / Math.hypot(node.x, node.y, node.z);
      //       Graph.cameraPosition(
      //          { x: node.x * distRatio, y: node.y * distRatio, z: node.z * distRatio }, // new position
      //          node, // lookAt ({ x, y, z })
      //          3000  // ms transition duration
      //       );
      //    })


      // 高亮
      function highlight_nodes() {
         highlightNodes.forEach(node => {
            node.oldColor = node.color;
            node.color = 'rgb(255,0,0,1)';
         });
      }

      // 重置
      function reset_nodes() {
         highlightNodes.forEach(node => node.color = node.oldColor);
         highlightNodes = [];
      }

      function updateGeometries() {
         Graph.nodeRelSize(4); // trigger update of 3d objects in scene
      }
   </script>
</body>

</html>

<!-- <el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="false">
               <el-submenu index="1">
                  <template slot="title">
                     <i class="el-icon-location"></i>
                     <span slot="title">Navigator One</span>
                  </template>
                  <el-menu-item-group>
                     <span slot="title">Group One</span>
                     <el-menu-item index="1-1">item one</el-menu-item>
                     <el-menu-item index="1-2">item two</el-menu-item>
                  </el-menu-item-group>
                  <el-menu-item-group title="Group Two">
                     <el-menu-item index="1-3">item three</el-menu-item>
                  </el-menu-item-group>
                  <el-submenu index="1-4">
                     <span slot="title">item four</span>
                     <el-menu-item index="1-4-1">item one</el-menu-item>
                  </el-submenu>
               </el-submenu>
               <el-menu-item index="2">
                  <i class="el-icon-menu"></i>
                  <span slot="title">Navigator Two</span>
               </el-menu-item>
               <el-menu-item index="3" disabled>
                  <i class="el-icon-document"></i>
                  <span slot="title">Navigator Three</span>
               </el-menu-item>
               <el-menu-item index="4">
                  <i class="el-icon-setting"></i>
                  <span slot="title">Navigator Four</span>
               </el-menu-item>
            </el-menu> -->